:root {
	--background-color: #252525;
	--text-color: #0b1215; /* Obsidian */
	--primary-color: #0c0c0c; /* Oil black */
	--hover-color: #352f36; /* Lava black */
	--response-background: #faebd7;
	--response-title-bg: #6eacda;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
	margin: 0;
	padding: 20px;
	font-family: Arial, sans-serif;
}

form {
	margin-top: 20px;
}

input,
button {
	font-size: 16px;
	margin: 10px;
}

input {
	width: 450px;
	border: none;
	padding: 10px;
	border-radius: 25px;
	box-shadow: rgba(243, 243, 248, 0.322) 0px 2px 5px -1px,
		rgba(209, 209, 209, 0.479) 0px 1px 3px -1px;
}

button {
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 25px;
	border: none;
	padding: 10px 24px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	background-color: var(--hover-color);
}

#responseContainer {
	display: none;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: left;
	animation: bounceIn 1s ease-in-out;
}

#responseContainer h1 {
	background-color: var(--response-title-bg);
	padding: 10px;
	border-radius: 5px;
}

#responseContent {
	background-color: var(--response-background);
	padding: 10px;
}

#responseContent h2 {
	color: var(--primary-color);
	margin-top: 20px;
}

#responseContent p {
	margin: 10px 0;
	line-height: 1.2em;
}

#responseContent li {
	list-style-type: none;
	margin-left: 20px;
	padding-bottom: 10px;
}

@keyframes bounceIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
